///R
.header-wrapper{
    background: #3c3b63;
    color: #ffffff; 
    box-shadow:0 0px 5px 5px rgba(0,0,0,0.2);
    height: 40px;
    vertical-align: middle;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
}