.search-bar-container {
  position: relative;
  .search-icon {
    position: absolute;
    height: 70%;
    line-height: 1rem;
    padding: 2px 10px;
  }
  input {
    padding: 0 35px;
    background: #ffffff4d;
    line-height: 1.7;
    border-radius: 3px;
    border-style: none;
    color: #fff;

    &::placeholder{
        color: #ccc;
    }
  }
}
